/* Page */
.product-page {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px 80px;
}

/* Back link */
/* Back to brand link */
.back-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 20px;
  padding: 8px 16px;

  font-size: 14px;
  font-weight: 500;
  color: #222;
  text-decoration: none;

  border: 1px solid #cfc7bc;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);

  transition: all 0.2s ease;
}

.back-link:hover {
  background: #c7d3d8;
  color: black;
}


/* Layout */
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: start;
}

/* Image section */
.product-image-box {
  background: #f7f7f7;
  border-radius: 24px;
  padding: 40px;
}

.product-image-box img {
  width: 100%;
  height: 480px;
  object-fit: contain;
}

/* Info section */
.product-info {
  display: flex;
  flex-direction: column;
}

.product-brand {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

.product-name {
  font-size: 36px;
  font-weight: 600;
  margin: 14px 0;
  color: #111;
}

/* Rating */
.product-rating {
  font-size: 14px;
  color: #444;
  margin-bottom: 18px;
}

.product-rating span {
  color: #777;
  margin-left: 6px;
}

/* Price */
.product-price {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #000;
}

/* Description */
.product-description {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
  max-width: 480px;
  margin-bottom: 32px;
}

/* Button */
.product-add-btn {
  width: fit-content;
  padding: 14px 42px;
  border-radius: 12px;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-add-btn:hover {
  background: #fff;
  color: #000;
}

/* Not found */
.product-not-found {
  padding: 80px;
  text-align: center;
  font-size: 20px;
  color: #777;
}

/* Responsive */
@media (max-width: 900px) {
  .product-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .product-image-box img {
    height: 380px;
  }
}
